[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
nose = "*"

[packages]
flask = "*"
gunicorn = "*"
ftfy = "*"
pyyaml = "*"

[requires]
python_version = "3.7"
